<!DOCTYPE html>
<html lang="pt-br">

<head>
  <%- include('partials/stylehead') -%>

  <!-- Arquivos CSS de estilização da página -->
  <link rel="stylesheet" href="/css/reviewAlbum.css">

  <title>Rate.io - <%- album.name %></title>
</head>

<body id="page-top">
  <%- include('partials/navbar') -%>

  <div class="row content d-flex justify-content-evenly">
    <section class="page-section" id="perfil">
      <div class="perfil-album">
        <div class="row justify-content-center">
          <div class="row d-flex justify-content-center pb-4">
            <img src=<%= album.image %> class="img-album" alt="...">
          </div>
          <div class="text-center row">
            <h4 class="card-title"><strong><%- album.name %></strong></h4>
            <h6 class="card-title my-3"><strong>Artista: </strong><%- album.Artist.name %></h6>
            <h6 class=""><strong>Ano: </strong><%- album.year %></h6>
            <div class="d-flex text-center justify-content-center mt-2">
              <% if (album.dataValues.avgRating) { %>
                <h4 class="card-title mx-2">
                  <% const averageRating = album.dataValues.avgRating.toFixed(2) %>
                  <% for (let i = 1; i <= Math.floor(averageRating); ++i) { %>
                    <i class="fa fa-star checked" aria-hidden="true"></i>
                  <% } %>
                  <% for (let i = 1; i <= Math.ceil(5 - averageRating); ++i) { %>
                    <i class="fa fa-star unchecked" aria-hidden="true"></i>
                  <% } %>
                </h4>
                <h4 class="mx-1"><%- averageRating %></h4>
              <% } else { %>
                <h4 class="mx-1">-</h4>
              <% } %>
            </div>
          </div>
          <div class="row d-flex justify-content-center">
            <button type="button" class="btn btn-secondary border-0 w-25 mx-2 mt-3" data-bs-toggle="modal"
              data-bs-target="#editar">
              Editar
            </button>
            <button type="button" class="btn btn-secondary border-0 w-25 mx-2 mt-3" data-bs-toggle="modal"
              data-bs-target="#excluir">
              Excluir
            </button>

          </div>
        </div>
      </div>
    </section>

    <section class="page-section" id="reviews">
      <div class="perfil-album reviews">
        <div class="row justify-content-center align-items-center">
          <div class="row">
            <div class="row d-flex justify-content-center">
              <div class="">
                <div class="card shadow-0 border-0">
                  <div class="card-body p-4">
                    <h2 class="pb-4">Avaliações do Álbum</h2>
                    <button type="button" class="btn btn-secondary button-album border-0 mx-2 mb-4"
                      data-bs-toggle="modal" data-bs-target="#avaliar">
                      Avaliar Álbum
                    </button>
                    <% if (ratings.length > 0) { %>
                    <% ratings.forEach(rating => { %>
                    <div class="card mb-4 border-0 comment">
                      <div class="card-body">
                        <p class="text-start"><%-rating.comment%> </p>
                        <div class="d-flex justify-content-between">
                          <div class="d-flex flex-row align-items-center">
                            <p class="small mb-0 ms-2"><strong>– <%-rating.username%> </strong></p>
                          </div>
                          <div class="d-flex flex-row align-items-center">
                            <div class="d-flex text-center justify-content-center mt-2">
                              <h6 class="mx-2">
                                <% for (let i = 1; i <= Math.floor(rating.value); ++i) { %>
                                <i class="fa fa-star checked" aria-hidden="true"></i>
                                <% } %>
                                <% for (let i = 1; i <= Math.ceil(5 - rating.value); ++i) { %>
                                <i class="fa fa-star unchecked" aria-hidden="true"></i>
                                <% } %>
                                <%- rating.value %> 
                              </h6>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <% }) %>
                    <% } else { %>
                    <p><strong>Este artista ainda não possui avaliações</strong></p>
                    <% } %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  </section>
  </div>

  <!-- Modal para Avaliar Álbum-->
  <div class="modal fade" id="avaliar" tabindex="-1" aria-labelledby="avaliar" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header border-0 pb-0">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="registration-form pt-0">
            <form action="/rating" method="POST">
              <input type="hidden" class="form-control item" name="albumId" id="albumId" value=<%=album.id%>>
              <h2 class="pb-4">Avaliar</h2>
              <div class="form-floating">
                <input type="text" class="form-control item" name="username" id="username">
                <label for="username">Nome</label>
              </div>
              <div class="form-floating">
                <input type="text" class="form-control item" name="email" id="email">
                <label for="email">E-mail</label>
              </div>
              <div class="form-floating">
                <textarea class="form-control item" name="comment" id="comment" style="height: 7rem"></textarea>
                <label for="comment">Comentário</label>
              </div>
              <div class="form-floating">
                <h5>Avaliação:</h5>
                <div class="form-group" id="rating-ability-wrapper">
                  <label class="control-label" for="value">
                    <input type="hidden" id="value" name="value" value="" required>
                  </label>
                  <button type="button" class="btnrating unchecked" data-attr="1" id="rating-star-1">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </button>
                  <button type="button" class="btnrating unchecked" data-attr="2" id="rating-star-2">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </button>
                  <button type="button" class="btnrating unchecked" data-attr="3" id="rating-star-3">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </button>
                  <button type="button" class="btnrating unchecked" data-attr="4" id="rating-star-4">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </button>
                  <button type="button" class="btnrating unchecked" data-attr="5" id="rating-star-5">
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
              <div class="form-floating">
                <button type="submit" class="btn btn-secondary enviar w-100">Enviar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal para Editar Álbum-->
  <div class="modal fade" id="editar" tabindex="-1" aria-labelledby="editar" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header border-0 pb-0">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="registration-form pt-0">
            <form action="/album/update" method="POST">
              <input type="hidden" id="id" name="id" value=<%=album.id%>>
              <h2 class="pb-4">Editar Álbum</h2>
              <div class="form-floating">
                <input type="text" class="form-control item" name="name" id="name" placeholder="Nome do álbum">
                <label for="name">Nome do álbum</label>
              </div>
              <div class="form-floating">
                <select class="form-select item" name="artist" id="artist">
                  <option selected value="">Selecione</option>
                  <% artists.forEach(artist => { %>
                  <option value=<%= artist.id %>><%- artist.name %></option>
                  <% }) %>
                </select>
                <label for="artist">Nome do artista</label>
              </div>
              <div class="form-floating">
                <input type="text" class="form-control item" name="year" id="year" placeholder="Ano">
                <label for="year">Ano de lançamento</label>
              </div>
              <div class="form-floating">
                <input type="url" class="form-control item" name="image" id="image"
                  placeholder="URL para imagem do álbum">
                <label for="image">URL para imagem do álbum</label>
              </div>
              <div class="form-floating">
                <button type="submit" class="btn btn-secondary enviar w-100">Atualizar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal para Excluir Álbum-->
  <div class="modal fade" id="excluir" tabindex="-1" aria-labelledby="excluir" aria-hidden="true">
    <div class="modal-dialog">
      <form action="/album/delete" method="POST">
        <input type="hidden" id="id" name="id" value=<%=album.id%>>
        <div class="modal-content">
          <div class="modal-header border-0 pb-0">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body justify-content-center text-center mt-3 mb-5 mx-5">
            <h2 class="my-5">Você tem certeza que quer excluir esse álbum?</h2>
            <button type="submit" class="btn btn-secondary enviar w-100 my-2">Deletar</button>
            <button type="button" class="btn btn-secondary enviar w-100 my-2" data-bs-dismiss="modal"
              aria-label="Close">Cancelar</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <%- include('partials/footer') -%>
  <script>
    jQuery(document).ready(function ($) {
      $(".btnrating").on('click', (function (e) {
        let previous_value = $("#value").val();

        let selected_value = $(this).attr("data-attr");
        $("#value").val(selected_value);

        $(".selected-rating").empty();
        $(".selected-rating").html(selected_value);

        for (i = 1; i <= selected_value; ++i) {
          $("#rating-star-" + i).toggleClass('unchecked');
          $("#rating-star-" + i).toggleClass('checked');
        }

        for (ix = 1; ix <= previous_value; ++ix) {
          $("#rating-star-" + ix).toggleClass('unchecked');
          $("#rating-star-" + ix).toggleClass('checked');
        }
      }));
    });
  </script>
</body>

</html>