<!DOCTYPE html>
<html lang="pt-br">

<head>

  <%- include('partials/stylehead') -%>

  <link rel="stylesheet" href="/css/viewArtist.css">

  <title>Rate.io - Artistas</title>
</head>

<body id="page-top">
  <%- include('partials/navbar') -%>

  <!-- Masthead-->
  <header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
      <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-8 align-self-end">
          <h2 class="">Artistas Cadastrados</h2>
        </div>
        <div class="col-lg-8 align-self-baseline py-4">
          <a href="/artist/create" class="btn btn-secondary border-0">Adicionar Artista</a>
        </div>
      </div>
    </div>
  </header>

  <section class="page-section" id="albuns">
    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 mx-1" id="divCards">
        <% artists.forEach(artist => { %>
          <div class="mx-2 card" style="width: 18rem;">
            <img src=<%= artist.image %> class="card-img-top mt-4 mb-2">
            <div class="card-body">
              <h4 class="card-title py-2"><b><%- artist.name %></b></h4>
              <h6 class="card-title"><b>Gênero musical: </b><%- artist.musicalGenre %></h6>
              <h6 class="card-title mb-3"><b>País de origem: </b><%- artist.country %></h6>
              <div class="row g-2 align-items-center">
                <h6 class="card-title">
                  <% for (let i = 1; i <= Math.floor(4.6); ++i) { %>
                  <i class="fa fa-star checked" aria-hidden="true"></i>
                  <% } %>
                  <% for (let i = 1; i <= Math.ceil(5 - 4.6); ++i) { %>
                  <i class="fa fa-star unchecked" aria-hidden="true"></i>
                  <% } %>
                  4.6
                </h6>
              </div>
              <a type="button" class="btn btn-secondary border-0 center my-2" href="/artist/<%- artist.id %>">Ver artista</a>
            </div>
          </div>
        <% }) %>
      </div>
    </div>
    </div>
  </section>

  <%- include('partials/footer') -%>
</body>

</html>