<!DOCTYPE html>
<html lang="pt-br">

<head>

  <%- include('partials/stylehead') -%>

  <link rel="stylesheet" href="/css/viewAlbum.css">

  <title>Rate.io - Álbuns</title>
</head>

<body id="page-top">
  <%- include('partials/navbar') -%>


  <!-- Masthead-->
  <header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
      <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-8 align-self-end">
          <h2 class="">Álbuns Cadastrados</h2>
        </div>
        <div class="col-lg-8 align-self-baseline py-4">
          <a href="/album/create" class="btn btn-secondary border-0">Adicionar Álbum</a>
        </div>
      </div>
    </div>
  </header>

  <section class="page-section" id="albuns">
    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 mx-1" id="divCards">
        <% albums.forEach(album => { %>
          <div class="mx-2 card" style="width: 18rem;">
            <img src=<%= album.image %> class="card-img-top mt-4 mb-2">
            <div class="card-body">
              <h4 class="card-title"><%- album.name %></h4>
              <h6 class="card-title my-3"><b>Artista: </b><%- album.Artist.name %></h6>
              <h6 class="mb-3"><b>Ano: </b><%- album.year %></h6>
              <div class="row g-2 align-items-center">
                <h6 class="card-title">
                  <% for (let i = 1; i <= Math.floor(album.getDataValue('avgRating')); ++i) { %>
                  <i class="fa fa-star checked" aria-hidden="true"></i>
                  <% } %>
                  <% for (let i = 1; i <= Math.ceil(5 - album.getDataValue('avgRating')); ++i) { %>
                  <i class="fa fa-star unchecked" aria-hidden="true"></i>
                  <% } %>                  
                  <%-album.getDataValue('avgRating') %>                  
                </h6>
              </div>
              <a type="button" class="btn btn-secondary border-0 my-2" href="/album/<%- album.id %>">Ver avaliações</a>
            </div>
          </div>
        <% }) %>
      </div>
    </div>
    </div>
  </section>

  <%- include('partials/footer') -%>
</body>

</html>